.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 19%
    right: 77%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@media screen and (max-width:767px)
  figure
    img
      max-width: 350px
      margin: 1rem auto

.banner-principal__img
  width: 400px !important   

.banner-interno__fondo
  background-position: top !important

//COLORES CORTOS
.cp
  color: $color-primario !important

.cs
  color: $color-secundario !important

.cac
  color: $color-acento-contenido !important

.cab
  color: $color-acento-botones !important

.cst
  color: $color-sistema-texto !important

.tarjeta--azul
  background-color: #F5FAFE !important

.tarjeta--azul2
  background-color: #BDDCF6 !important

.tarjeta--azul3
  background-color: #D2E1F1 !important
  
.tarjeta--gris
  background-color: #D2F3F8 !important

.tarjeta--lt1
  background-color: #FFF8E4 !important

.tarjeta-animada
  background-color: #5ED4E3 !important

.tarjeta-carrusel
  background-color: #FFE595 !important

.ca1
  background-color: #F6F6F6 !important

//RECTÁNGULOS DE FONDO
.rectanguloid
  position: relative
  &::before
    content: ''
    width: 50%
    height: 30%
    background-color: rgb(232, 242, 244)
    bottom: 0
    right: 0
    display: block
    position: absolute
    mix-blend-mode: multiply

.rectanguloid3
  position: relative
  &::before
    content: ''
    width: 50%
    height: 30%
    background-color: rgb(238, 246, 253)
    bottom: 0
    right: 0
    display: block
    position: absolute
    mix-blend-mode: multiply

.tabs-b.color-acento-contenido .tabs-b__tab--active
  border-top-color: #4DD0E1 !important

.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content__title
    background-color: #D2F3F8
    border-radius: 5px 5px 0 0
.linea-tiempo-d__item__content__slot
  background-color: #D2F3F8
  border-radius: 0 0 5px 5px
.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #D2F3F8 !important

.linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: #F6F6F6 !important
.linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #F6F6F6 !important

.slyder-a__bullets__item--active
  background-color: rgb(15, 39, 113) !important
  
.slyder-a__bullets__item
  background-color: rgb(149, 162, 189)

.bloque-texto-1
  background-color: #DEE4F0
  &:before
    background-color: #BDDCF6

.bloque-texto-2
  background-color: #ECF5FC
  &:before
    background-color: #BDDCF6

.acordion__activo
  background-color: #FFF7E0 !important

.acordion__accion__btn--a
  background-color: $color-acento-botones

.linea-tiempo-c__header__btn--left
  background-color: #E8E8E8 !important
.linea-tiempo-c__header__btn--right
  background-color: #E8E8E8 !important

.slyder-f__btn
  i
    color: #707070 !important

.tarjeta-carrusel.p-4
  height: 380px

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important
  border-radius: 8%
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: rgba(77, 208, 225, .95)

.col-sm-6.col-lg-4.col-xl.tabs-c__tab.py-3.tabs-c__tab--active
  font-weight: bold

.tabs-b__tab__title
  font-size: 1rem !important  

.img-a 
  display: block
  margin: auto

.img-t
  width: auto
  height: auto  